<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xworks.aungkhantmyo.parallel" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Parallel Fonts for Zawgyi and Unicode" />
        <meta-data
            android:name="xposedminversion"
            android:value="2.1*" />

        <activity
            android:name=".ParallelSetting"
            android:label="@string/title_activity_parallel_setting" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppsListFragment"
            android:excludeFromRecents="true"
            android:label="AppList"
            android:parentActivityName=".ParallelSetting" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>
